
.banner {
    height: 90vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/banner-home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    background-color: rgb(249, 219, 121);

    color: white;
    font-size: 100px;
    text-shadow: 3px 5px 2px #474747;
  }

  .sabores,
  .eventos, 
  .sobre
  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    text-align: center;
  }

  .sabores-imagem,
  .eventos-imagem,
  .sobre-imagem{
    width: 50%;
    height: auto;
    object-fit: cover;
  }

  article{
    width: 50%;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  article h2{
    font-size: 35px;
    line-height: 26px;
    text-align: center;
  }

  article h3{
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    margin-top: 10px;
  }

  article p{
    padding: 0 100px;
    line-height: 26px;
    margin: 40px 0;
  }


  @media screen and (max-width: 1024px) {

    .sabores p,
    .eventos p,
    .sobre p {
      padding: 0px 50px
    }
 }
 
 @media screen and (max-width: 768px){
 
   .texto-banner h1 {
     font-size: 60px;
   }
 
   .sabores {
     flex-direction: column;
     align-items: center;
   }
 
   .sabores img {
     width: 100%;
   }
 
   .sabores,
   .eventos,
   .sobre {
     width: 100%;
     padding: 100px 10px;
     text-align: center;
   }
 
   .eventos {
     flex-direction: column-reverse;
     align-items: center;
   }
 
   .eventos img {
     width: 100%;
   }
 
   .sobre {
     flex-direction: column;
     align-items: center;
   }
 
   .sobre img {
     width: 100%;
   }
 }
 
 @media screen and (max-width: 425px){
   .texto-banner h1 {
     font-size: 40px;
   }
 
   .eventos h2,
   .sabores h2,
   .sobre h2 {
     line-height: 40px;
   }
 }